form{
width:320px;
padding:0 50px 50px;
background:linear-gradient(#fff,#ABDBFF);
border:1px solid #ccc;
box-shadow:0 0 5px;
font-family:'Marcellus',serif;
float:left;
margin-top:20px;
margin-left: 400px;
}
.headline
{
	margin-top: 100px;
}
