@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{line-height:18px; text-decoration:none; background:#2d2d2d; font-family: 'Open Sans', sans-serif; background-image:url(../images/bg2.png); background-repeat:repeat-x;  background-position:top;}
.bg-wht{background:#FFF;}
.header{ border-bottom:2px solid  #ed3237; padding:12px 0px 8px;}
.homebtn{ margin:20px;  font-size:15px; font-weight:bold; font-family: 'Open Sans', sans-serif; }
.footer1txt{background:#ed3237; padding:16px ; border-bottom:1px solid #1e1e1e;}
.footer1txt  h4{font-family: 'Open Sans', sans-serif; font-size:25px; font-weight:normal; color:#FFF;}
.footer2txt{background:#ed3237; padding:15px 0px;  color:#000; }
.footer2txt a{font-size:15px; line-height:25px; color:#202020; font-family: 'Open Sans', sans-serif; font-weight:600;  }
.footer3txt{ background:#1e1e1e; padding:14px 20px;   color:#fff;  font-size:13px;}
.footer3txt a{color:#fff; font-size:13px; font-family: 'Open Sans', sans-serif; font-weight:normal; }
@media (max-width: 768px) {
	.footer3txt{ text-align:center;}
	}
	
	
	/***About us css***/
.about-uss{margin:0px; padding:0px;}	
.about-uss h2{margin:0px 0px 24px 0px; padding:0px 0px 14px 0px; text-align:left; border-bottom:2px solid #6789c8;}	
.about-uss  p{text-align:justify; line-height:27px; font-size:18px;}
.student-inf {margin:0px; padding:0px;}
.student-inf p{text-align:justify; line-height:27px; font-size:18px;}
.bg-mar{margin:30px 0px; padding:0px 0px;}
.bg-mar h2{font-size:22px; color:#000; font-weight:bold;}
.marque-t{margin:10px 0px; padding:20px 0px; background:#d7d4d4;}
.sponsor-b{border:1px solid #ccc; background-color:#c3bfbf; text-align:center;}